@use 'index' as *;

.layout {
  height: 100vh;

  .active {
    background-color: $primary-color-active !important;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $primary-color;

    .layout__menu-btn {
      display: block;
    }

    .layout__brand {
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: none;
      color: $black
    }
  }

  &__sidebar {
    width: 240px;
    padding: $spacing-2;
    color: $white;
    background-color: $primary-color;
    border-right: 1px solid $background;
    transition: all 0.3s;

    .sidebar-nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $spacing-3;
      padding: $spacing-3 $spacing-2;
      &__item {
        font-size: 1rem;
        transition: color 0.2s ease;
        &:hover {
          mat-icon {
            color: $inputs;
          }
        }
      }

      &__top {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
      }

      &__header {
        color: $inputs;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-2;
      }
    }
  }

  &__content {
    background: $background;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__router-area {
    overflow-y: scroll;
    padding: 1.5rem;
  }

  .links{
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  .mat-drawer {
    border-radius: 0;
  }

  .mat-list-item {
    padding: 12px 16px;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .layout {
      &__sidebar {
        box-sizing: border-box;
        padding-bottom: $spacing-4;
        .sidebar-nav {
          gap: $spacing-3;
          padding: $spacing-1;
          &__item {
            font-size: 1rem;
          }

          .active {
            color: inherit;
            padding: 1px;
          }
        }
      }

      &__header {
        margin-top: $spacing-2;
        .layout__menu-btn {
          display: inline-flex;
        }
      }
    }
  }
}
