@use "index" as *;

.router-sales {
  &__vouchers {
    h3 {
      font-size: $font-size-lg;
    }
  }

  &__vouchers-table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
