<div class="sales-summary">

  <mat-card class="sales-summary__card">

      <div class="sales-summary__grid">

        <!-- Total Sales -->
        <div class="sales-summary__item">
          <span class="sales-summary__label">
            Total Sales
          </span>

          <span class="sales-summary__value">
            ₹{{ routerSalesSummary()?.totalSalesAmount }}
          </span>

          <span class="sales-summary__count">
            {{ routerSalesSummary()?.totalSalesCount }} Sales
          </span>
        </div>

        <!-- Today's Sales -->
        <div class="sales-summary__item sales-summary__item--today">
          <span class="sales-summary__label">
            Today's Sales
          </span>

          <span class="sales-summary__value">
            ₹{{ routerSalesSummary()?.todaySalesAmount }}
          </span>

          <span class="sales-summary__count">
            {{ routerSalesSummary()?.todaySalesCount }} Sales
          </span>
        </div>

        <!-- Monthly Sales -->
        <div class="sales-summary__item sales-summary__item--month">
          <span class="sales-summary__label">
            This Month
          </span>

          <span class="sales-summary__value">
            ₹{{ routerSalesSummary()?.monthSalesAmount }}
          </span>

          <span class="sales-summary__count">
            {{ routerSalesSummary()?.monthSalesCount }} Sales
          </span>
        </div>

      </div>

  </mat-card>

</div>